.chat-box {
  height: 85vh;
  /* display: inline-block; */
}

.message-box:hover {
  background-color: rgb(58, 58, 58);
}
.container {
  width: 70vw;
}

.send {
  float: right;
}
.receive {
  float: left;
}

.message-input {
  background-color: rgb(16, 16, 16);
  color: aliceblue;
}
.message-input:enabled {
  background-color: rgb(16, 16, 16);
}

.participants-container{
    height: 94vh;
}